### 집합자료형
* 중복을 허용하지 않는다. 
* 순서가 없다.

In [5]:
s1 = set([1, 2, 3])
print(s1)
print(type(s1))

s2 = set("Hello")
print(s2)
print(type(s2))

s3 = {"python", "is"}
print(s3)
print(type(s3))

{1, 2, 3}
<class 'set'>
{'H', 'o', 'e', 'l'}
<class 'set'>
{'python', 'is'}
<class 'set'>

In [8]:
# 리스트로 변환
s1 = set([1, 2, 3])
print(s1)
print(type(s1))

l1 = list(s1)
print(l1)
print(type(l1))

{1, 2, 3}
<class 'set'>
[1, 2, 3]
<class 'list'>

In [11]:
# 튜플로 변환
s1 = set([1, 2, 3])
print(s1)
print(type(s1))

t1 = tuple(s1)
print(t1)
print(type(t1))

{1, 2, 3}
<class 'set'>
(1, 2, 3)
<class 'tuple'>

### 교집합, 합집합, 차집합

In [19]:
s1 = [1, 2, 3, 4, 5, 6]
s2 = [4, 5, 6, 7, 8, 9] 

s1 = set(s1)
s2 = set(s2)

# 교집합 &
result1 = s1 & s2
print("교집합(&): ", result1)
print("교집합(&)[형변환]: ", list(result1))

# 교집합 intersection()
result2 = s1.intersection(s2)
print("교집합(intersection): ", result2)
print("교집합(intersection)[형변환]: ", list(result2))

교집합(&):  {4, 5, 6}
교집합(&)[형변환]:  [4, 5, 6]
교집합(intersection):  {4, 5, 6}
교집합(intersection)[형변환]:  [4, 5, 6]

In [23]:
s1 = [1, 2, 3, 4, 5, 6]
s2 = [4, 5, 6, 7, 8, 9] 

s1 = set(s1)
s2 = set(s2)

# 합집합 |
result1 = s1 | s2
print("합집합(|): ",result1)
print("합집합(|): ",list(result1))

# 합집합 union()
result2 = s1.union(s2)
print("합집합(union)", result2)
print("합집합(union)", list(result2))

합집합(|):  {1, 2, 3, 4, 5, 6, 7, 8, 9}
합집합(|):  [1, 2, 3, 4, 5, 6, 7, 8, 9]
합집합(union) {1, 2, 3, 4, 5, 6, 7, 8, 9}
합집합(union) [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
s1 = [1, 2, 3, 4, 5, 6]
s2 = [4, 5, 6, 7, 8, 9] 

s1 = set(s1)
s2 = set(s2)

# 차집합( - )
result1 = s1 - s2
print("차집합 s1 - s2: ", result1)

result2 = s2 - s1
print("차집합 s2 - s1: ", result2)

# 차집합(difference())
result3 = s1.difference(s2)
print("차집합 difference(): ", result3)

result4 = s2.difference(s1)
print("차집합 difference(): ", result4)

차집합 s1 - s2:  {1, 2, 3}
차집합 s2 - s1:  {8, 9, 7}
차집합 difference():  {1, 2, 3}
차집합 difference():  {8, 9, 7}

### 집합 자료형 관련함수

In [31]:
# 값 1개 추가하기 - add()
s1 = set([1, 2, 3])
s1.add(4)
print(s1)

# 2개요소 추가시 에러, add() 하나의 인수만 입력이 가능
# s1.add(4, 5)
# 리스트 타입의 데이터는 인수로 사용할 수 없음
# s1.add([4])

{1, 2, 3, 4}

In [34]:
# 값 여러 개 추가하기 update()
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

# s1.update(4, 5)

{1, 2, 3, 4}

In [35]:
# 특정 값 제거하기 - remove()
s1 = set([1, 2, 3])
s1.remove(3)
print(s1)

{1, 2}

In [38]:
script1 = """ 
(파리=연합뉴스) 김동찬 기자 = 한국 선수단이 2024 파리 올림픽에서 금메달 13개를 따내 메달 순위 8위를 차지했다.

우리나라는 11일(현지시간) 막을 내리는 2024 파리 올림픽에서 금메달 13개, 은메달 9개, 동메달 10개를 획득해 메달 순위 8위로 대회를 마쳤다.

금메달 13개는 2008년 베이징, 2012년 런던 대회에 이어 우리나라의 올림픽 최다 금메달 타이기록이다.


2008년 베이징 때는 은메달 11개, 동메달 8개를 추가해 7위, 2012년 런던에서는 은메달과 동메달 모두 9개씩 보태 5위에 올랐다.

박혜정, 귀중한 은메달
박혜정, 귀중한 은메달
(파리=연합뉴스) 임화영 기자 = 11일(현지시간) 프랑스 파리 사우스 파리 아레나에서 열린 2024 파리올림픽 역도 여자 81kg 이상급에서 은메달을 따낸 박혜정이 시상대에 올라 메달을 들어 보이고 있다. 2024.8.11 hwayoung7@yna.co.kr

ADVERTISEMENT

 
ADVERTISEMENT
전체 메달 수 32개는 1988년 서울 대회 33개(금 12, 은 10, 동 11)에 이은 2위 기록이다. 2008년 베이징 때도 메달 총수는 32개였다.

대한체육회는 이번 대회 금메달 목표를 5개로 잡았으나 1976년 몬트리올 대회 이후 48년 만에 최소 규모인 선수 144명이 출전해 목표치의 2배가 넘는 13개 금메달을 수확하며 선전했다.

한국이 하계 올림픽 메달 순위 10위 안에 든 것은 2016년 리우데자네이루 대회 8위(금 9, 은 3, 동 9) 이후 8년 만이다. 2021년 도쿄에서는 16위(금 6, 은 4, 동 10)로 밀렸었다.
태극기 들고 기뻐하는 성승민
태극기 들고 기뻐하는 성승민
(베르사유[프랑스]=연합뉴스) 김도훈 기자 = 11일(현지시간) 프랑스 파리 베르사유에서 열린 2024파리올림픽 근대5종 여자 개인 결승전 레이저런 경기에서 동메달을 따낸 성승민이 경기를 마친 뒤 태극기를 들고 기뻐하고 있다. 2024.8.11 [공동취재] superdoo82@yna.co.kr

우리나라는 대회 마지막 날인 11일 은메달 1개와 동메달 1개를 추가했다.

프랑스 파리의 사우스 파리 아레나에서 열린 역도 여자 81㎏ 이상급 경기에 출전한 박혜정(고양시청)이 인상 131㎏, 용상 168㎏, 합계 299㎏을 들어 2위를 차지했다.

인상과 합계 한국 신기록을 작성한 박혜정은 2016년 리우데자네이루 대회 윤진희 동메달 이후 8년 만에 역도 올림픽 메달리스트가 됐다.

또 여자 최중량급 올림픽 메달은 장미란 문화체육관광부 차관의 2012년 런던 대회 동메달 이후 이번 박혜정이 12년 만이다.

이 체급 금메달은 합계 309㎏의 리원원(중국)이 가져갔다.

근대5종에서는 성승민(한국체대)이 여자부 동메달을 획득했다.

성승민은 이날 베르사유 궁전에서 열린 근대5종 여자부 결승에서 1천441점을 따내 1천461점의 미첼레 구야시(헝가리), 1천452점의 엘로디 클루벨(프랑스)에 이어 3위를 기록했다.

한국 근대5종은 2021년 도쿄 대회 전웅태(광주광역시청)가 남자부 동메달을 받았고, 2회 연속 올림픽 메달리스트를 배출했다.

올림픽 근대5종 여자부 경기에서 아시아 국적 선수가 시상대에 오른 것은 이번 대회 성승민이 최초다.

함께 출전한 김선우(경기도청)는 1천410점으로 8위다.

한국 선수단 본단은 12일 파리를 출발해 13일 인천국제공항을 통해 귀국할 예정이다.
미국과 프랑스의 여자농구 결승전 경기 모습. 
미국과 프랑스의 여자농구 결승전 경기 모습.
[AFP=연합뉴스]

전체 메달 순위에서는 미국과 중국이 금메달 40개로 같았으나 은메달 수에서 44-27로 앞선 미국이 1위를 차지했다.

미국은 이번 대회 마지막 경기인 여자 농구 결승까지 금메달 수가 중국에 1개 부족했으나 여자 농구 결승에서 개최국 프랑스를 67-66, 1점 차로 꺾고 금메달을 획득하며 종합 순위에서 중국을 힘겹게 따돌렸다.

미국은 2012년 런던, 2016년 리우, 2021년 도쿄에 이어 하계 올림픽 4회 연속 메달 순위 1위를 지켰다.

일본이 금메달 20개로 3위에 올랐다. 일본은 레슬링에서만 금메달 8개를 쓸어 담는 절대 강세를 보이며 막판 스퍼트에 성공했다.

"""


script2 = """ 
[헤럴드경제=이정아 기자] 문화체육관광부가 대한배드민턴협회에 대한 조사를 착수했다. 파리올림픽이 끝나는대로 관련 조사에 즉시 나서겠다는 기조의 연장선이다.

12일 문체부는 협회와 국가대표팀 등 관계자 의견을 청취하고 현장 조사와 전문가 자문회의 등 다각적인 조사를 실시한다고 밝혔다. 이와 관련 결과 발표는 9월 중순으로 예상된다.


조사단은 조사 경험이 있는 문체부 직원과 스포츠윤리센터 조사관 등 10명 이상으로 구성된다. 조사단장은 이정우 문체부 체육국장이 맡는다. 조사단장인 이정우 체육국장은 “이번 조사의 근본적인 질문은 협회가 선수를 위해 제 역할을 하고 있는가”라며 “안세영 선수뿐만 아니라 우리 선수 누구든지 하고 싶은 말을 할 수 있다. 선수의 목소리에 귀를 기울이는 것이 문체부와 체육단체가 지녀야 할 당연한 자세”라고 말했다.

이번 조사는 안세영 선수의 인터뷰로 논란이 된 미흡한 부상 관리, 복식 위주 훈련, 대회 출전 강요 의혹 등에 대한 경위 파악뿐만 아니라 그동안 논란이 제도 관련 문제, 협회의 보조금 집행 및 운영 실태까지 종합적으로 이뤄진다.

특히 문체부는 주요 제도개선 사항으로 크게 네 가지를 집중적으로 살펴볼 예정이다.

우선 국가대표 선발 과정의 공정성, 훈련과 대회 출전 지원의 효율성을 따져본다. 배드민턴 포함 대다수 종목에서 명확한 규정은 없지만, 관행상 금지되고 있는 개인 트레이너의 국가대표 훈련 과정 참여의 필요성을 살펴볼 예정이다. 이어 협회의 후원 계약 방식이 ‘협회와 선수 사이에서 균형을 갖췄는지’ 살펴본다. 배드민턴 종목에 있는 선수의 국제대회 출전 제한 제도의 합리성이 타당한지, 선수의 연봉체계에 불합리한 점이 없는지도 들여다본다.


조사는 민법과 문체부 소관 비영리법인의 설립 및 감독규칙에 따른 사무 검사와 보조금의 관리에 관한 법률에 따른 보조사업 수행 상황 점검의 법적 성격을 지니고 있다. 올해 기준 문체부는 대한배드민턴협회에 보조금 71억2000만원을 지원하고 있다.

문체부 관계자는 “이번 조사를 단순히 ‘협회가 선수 관리를 적절히 했는지’를 확인하는 것이 아니다”라며 “그동안 제기된 여러 현안에 대해 의견을 충분하게 수렴하고 배드민턴뿐만 아니라 다른 종목 발전에도 파급될 수 있는 미래지향적 방안을 마련하는 계기로 삼을 계획”이라고 말했다.

한편 안세영 선수는 지난 5일 경기 후 기자회견에서 “부상이 생각보다 심각했다. 너무 안일하게 생각한 대표팀한테 크게 실망했었다”며 “이 순간을 끝으로 대표팀이랑은 계속 가기 힘들지 않을까 하는 생각도 들었다”고 말했다. 이어 그는 “대표팀에서 나간다고 올림픽을 못 뛰는 건 아닌 것 같다. 배드민턴은 단식과 복식이 엄연히 다르다. 선수 자격도 박탈당하면 안 된다고 생각한다. 하지만 우리 협회는 모든 걸 다 막고 있다. 자유라는 이름으로 많은 방임을 하고 있다”고 직언했다.
"""

In [41]:
l1 = script1.split()
l2 = script2.split()

s1 = set(l1)
s2 = set(l2)

result = s1.intersection(s2)
list(result)

['이번', '이어', '수', '선수', '12일', '경기', '있다.', '대회', '개인', '예정이다.']